@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$heading:    'Neuton', serif;


.margin-3 {
  margin-top: 30px;
}

.tofu-heading {
  img {
    width: 55px;
    margin-left: 40px;
    margin-bottom: 25px;
  }

  h2 {
    font-family: $heading;
    font-size: 25px;
    color: white;
    margin-left: 5px;
    display: inline-block;
  }
}

.dog-description {
  margin-top: 25vh;
}

.dog-description p {
  color: white;
  font-family: $heading;
  font-weight: 400;
  font-size: 40px;
}

.dog-description-gram {
  color: #FFE027;
  text-decoration: none;
  border-bottom: 3px solid #FFE027;
  padding-bottom: 3px;
  &:hover {
  color: #004EBF; 
  text-decoration: none;
  border-color: #004EBF;       
  }  
}

.dog-description-mum {
  color: #FF1E48;
  text-decoration: none;
  border-bottom: 3px solid #FF1E48;
  padding-bottom: 3px;    
  &:hover {
  color: #004EBF; 
  text-decoration: none;
  border-color: #004EBF;        
  }
}


.tofu-background {
  background-image: url('../img/tofu2.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 767px) {
  .tofu-background {
    background-position: right;
    background-size: cover;
    height: 700px;
  }

  .dog-description {
    margin-top: 5vh;
  }

  .tofu-heading {
    img {
      width: 60px;
    }

    h2 {
      font-size: 30px;
      margin-left: 10px;
    }
  }

  .dog-description p {
    font-size: 30px;
  }
}



