@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$heading:    'Neuton', serif;

$lightBlue:   #E2F5F4;
$pink:        #FF1E48;    
$yellow:      #FFE027;
$darkBlue:    #004EBF;


.margin-3 {
  margin-top: 30px;
}

.tofu-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.tofu-heading {
  img {
    width: 55px;
    margin-left: 40px;
    margin-bottom: 25px;
  }

  h2 {
    font-family: $heading;
    font-size: 25px;
    color: white;
    margin-left: 5px;
    display: inline-block;
  }
}

.dog-description {
  margin-top: 25vh;
}

.dog-description p {
  color: white;
  font-family: $heading;
  font-weight: 400;
  font-size: 40px;
  text-shadow: 0px 4px 15px rgba(0,0,0,0.7);
  &::selection {
    background-color: $lightBlue;
  }
}

.dog-description-gram {
  color: $yellow;
  text-decoration: none;
  border-bottom: 3px solid $yellow;
  padding-bottom: 3px;
  &:hover {
  color: $darkBlue; 
  text-decoration: none;
  border-color: $darkBlue;       
  } 
  &::selection {
    background-color: $lightBlue;
  } 
}

.dog-description-mum {
  color: $pink;
  text-decoration: none;
  border-bottom: 3px solid $pink;
  padding-bottom: 3px;    
  &:hover {
    color: $darkBlue; 
    text-decoration: none;
    border-color: $darkBlue;        
  }
  &::selection {
    background-color: $lightBlue;
  }
}

.dog-description-refresh {
  color: #63A0D4;
  text-decoration: none;
  border-bottom: 3px solid #63A0D4;
  padding-bottom: 3px;    
  &:hover {
    color: $darkBlue; 
    text-decoration: none;
    border-color: $darkBlue;        
  }
  &::selection {
    background-color: $lightBlue;
  }
}


@media (max-width: 767px) {
  .tofu-background {
    background-position: center;
    background-size: cover;
    height: 700px;
  }

  .dog-description {
    margin-top: 5vh;
  }

  .tofu-heading {
    img {
      width: 60px;
    }

    h2 {
      font-size: 30px;
      margin-left: 10px;
    }
  }

  .dog-description p {
    font-size: 30px;
  }
}



